
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

div, p, li, span, em, strong, a {
  word-break: keep-all;
  word-wrap: break-word;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: #a9f1df;
  background: linear-gradient(180deg, #a9f1df 0%, #ffbbbb 100%);
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


h1, h2, h3, h4, h5 {
  font-size: 1rem;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}


del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border: 0 none;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #161616;
  margin: 1rem 0;
  padding: 0;
}

input, select, textarea {
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 0;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  margin: 0;
}

input::-ms-clear {
  display: none;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
}

@media (min-width: 1024px) {
  select {
    background-color: #fff;
  }
}

select::-ms-expand {
  display: none;
}

img, fieldset {
  border: 0;
}

ul, ol, li {
  list-style-type: none;
}

li img {
  vertical-align: top;
}

button {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color ease .1s;
}

img {
  vertical-align: middle;
  font-size: 0;
}

textarea {
  resize: none;
  width: 100%;
  background-color: #fff;
}

textarea::placeholder {
  color: #B7B7B7;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #fff;
    border: 1px solid #bdbdbd;
}
::-webkit-scrollbar-thumb{
    background-color: #292929;
    border-radius: 5px;
}
#progress{
    appearance: none;
}
#progress::-webkit-progress-bar{
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #000;
}
#progress::-webkit-progress-value{
  border-radius: 10px;
  background-color: #ACD8FF;
}
    